.todo-item {
  display: flex;
  font-size: 18px;
  align-items: center;
  padding: 35px 15px;
  border-bottom: 1px solid #f2f3f5;
  cursor: pointer;
  position: relative;

  &.completed {
    color: #aaa;

    .check-box {
      background: rgb(11, 223, 170);
      border-color: rgb(11, 223, 170);

      i.material-icons {
        opacity: 1;
      }
    }
    &:hover {
      .check-box {
        background-color: #0bdfaa;
        i.material-icons {
          opacity: 1;
        }
      }
    }
  }

  .check-box {
    display: flex;
    flex-shrink: 0;
    border: 2px solid #eee;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    margin-right: 20px;
    transition: background-color 0.2s, border-color 0.2s;

    i.material-icons {
      font-size: 20px;
      margin: auto;
      opacity: 0;
      transition: opacity 0.2s;
      color: #333;
    }
  }
  .todo-control-box {
    position: absolute;
    bottom: 0;
    right: 5px;
    display: flex;

    opacity: 1;
    visibility: hidden;
    transform: translateY(2px);
    transition: opacity 0.2s, transform 0.2s, visibility 0.2s;
    .todo-control-button {
      display: flex;
      background-color: #f5f7f8;
      padding: 7px 20px;

      i.material-icons {
        font-size: 20px;
      }

      &:hover {
        background-color: #eee;
      }

      &:active {
        background-color: #e5e7e8;
      }

      &:first-of-type {
        border-top-left-radius: 7px;
      }
      &:last-of-type {
        border-top-right-radius: 7px;
      }

      &.is-danger:hover {
        i.material-icons {
          color: rgb(155, 27, 27);
        }
        &:active {
          i.material-icons {
            color: rgb(193, 23, 23);
          }
        }
      }
    }
  }
  &:hover {
    .check-box {
      background-color: #eee;
      i.material-icons {
        opacity: 0.28;
      }
    }

    .todo-control-box {
      opacity: 1;
      visibility: visible;
      transition-delay: 0.4s;
      transform: translateY(0);
    }
  }
}
